<?xml version="1.0" encoding="utf-8"?>
<!-- DOCS: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior -->
<!-- Place this file in the root of your Unity project, where the solution files are generated. -->
<!-- If you're using JetBrains Rider, it will nicely pick up the config and manage nuget packages in the desired path. -->
<configuration>
  <config>
    <!-- Path in the project to which packages should be installed -->
    <add key="repositoryPath" value="Assets/Plugins/Nuget" />
    
    <!-- Set what is the default source for pushing packages -->
    <!-- add key="defaultPushSource" value="https://nuget.pkg.github.com/JakubSlaby" / -->
  </config>
  <packageSources>
    <!-- Uncomment <clear /> for disallowing system wide sources (like nuget.org) -->
    <!-- clear / -->

    <!-- Add your custom package source here, example for github -->
    <!-- add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" / -->
  </packageSources>
  <!-- DisabledPackageSources allows to specifically enable or disable a source for the project -->
  <!--
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  -->
</configuration>
